@use './variable' as vars;

@media (max-width: 1150px) {
    .article {
        h2, h3 {
            margin-left: 1em;
        }
    }
}

@media (max-width: 812px) {
    .article {
        font-size: vars.$font + 2px;

        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 28px;
        }
        .outdated {
            text-align: center;
        }
        .highlighter-rouge .highlight::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    }
}
