@use './variable' as vars;

@media (max-width: 812px) {
    body {
        font-size: vars.$font-md;
    }
    .font-l {
        font-size: vars.$font-lg - 4px;
    }
    .font {
        font-size: vars.$font-md;
    }
    .font-m {
        font-size: vars.$font-md - 2px;
    }
}
