@use './variable' as vars;
@use './global';
@use './layout';
@use './article';
@use './global.m' as global-m;
@use './layout.m' as layout-m;
@use './article.m' as article-m;

:root {
    --header-height: 80px;
}

@media (max-width: 1150px) {
    :root {
        --header-height: 72px;
    }
}
@media (max-width: 812px) {
    :root {
        --header-height: 56px;
    }
}
