@use './variable' as vars;

.yitiblog {
    margin: 0 auto;

    .block {
        width: 100%;
        position: relative;
        max-width: vars.$max-width;
        margin:  0 auto;
        min-height: 100%;
    }
}
.yitiblog-header {
    height: var(--header-height);
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: color-mix(in srgb, var(--theme-color-primary) 80%, transparent);
    backdrop-filter: blur(5px);
    color: var(--theme-color-on-primary);
    
    &-inner {
        padding: 0 vars.$space;
    }

    .flex {
        align-items: center;
    }
    .avatar {
        height: 40px;
        width: 40px;
        border-radius: 56px;
    }
    .title {
        margin-left: vars.$space;
        transition: 0.2s linear;
    }
    .theme-btn {
        font-size: vars.$font-lg;
        transition: 0.2s linear;
        cursor: pointer;
    }
    .theme-btn:hover {
        color: var(--theme-color-on-background);
    }
}
.yitiblog-content {
    padding-top: var(--header-height);
    // padding-bottom: var(--header-height) * 2;
}

.yitiblog-footer {
    padding: vars.$space-l*2 0;
    background: color-mix(in srgb, var(--theme-color-primary) 20%, transparent);
    backdrop-filter: blur(5px);
    color: var(--theme-color-outline);

    .title {
        text-align: center;
    }
    .flex {
        margin-bottom: vars.$space-l;
    }
    ul {
        list-style: none;
        .link {
            display: block;
            padding: vars.$space-s vars.$space;
            margin: vars.$space-s 0;
        }
    }
    .copyright {
        margin-top: vars.$space;
        text-align: center;

        li {
            display: inline-block;
            padding: vars.$space-s vars.$space;
        }
    }
    .recordation:hover {
        text-decoration: underline;
    }
    a {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: var(--theme-color-on-primary);
        }
    }
}

.post-item {
    padding: vars.$space;
    transition: 0.2s linear;
    position: relative;
    align-items: center;
    box-sizing: content-box;

    &::before {
        content: '';
        transition: 0.2s linear;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 3px;
        background: transparent;
    }
    &:hover {
        background: color-mix(in srgb, var(--theme-color-background) 95%, var(--theme-color-on-background));
    }
    &:hover::before {
        background: var(--theme-color-secondary);
    }
    &:not(:first-of-type) {
        border-top: 1px solid var(--theme-color-primary);
    }
    &-desc {
        margin-top: vars.$space;
        color: var(--theme-color-outline);
    }

    &-time {
        color: var(--theme-color-outline);
        text-align: center;
        margin-left: vars.$space-m;
        .date {
            font-weight: 600;
        }
    }
    p:not(:first-of-type) {
        margin-top: vars.$space-m;

        &.month {
            margin-top: 0;
        }
    }
    .keyword {
        color: var(--theme-color-secondary);
    }
}

.yitiblog-pager {
    padding: vars.$space-l vars.$space;
    color: var(--theme-color-on-background);
    text-align: center;

    .block {
        width: auto;
        max-width: 300px;
        // white-space: nowrap;
        margin: 10px auto;
        cursor: pointer;
        display: block;
        transition: 0.2s;

        &:hover {
            color: var(--theme-color-secondary);
        }

        img {
            height: 24px;
            width: 24px;
            vertical-align: middle;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
