@use './variable' as vars;

@media (max-width: 1150px) {
    .yitiblog {
        .block {
            max-width: vars.$max-width-md;
        }
    }
    .yitiblog-header {
        .avatar {
            height: 32px;
            width: 32px;
        }
    }
}

@media (max-width: 812px) {
    .yitiblog-footer {
        .flex {
            display: block;
            text-align: center;
        }
        .copyright {
            font-size: 14px;
            li {
                display: block;
            }
        }
    }
    .yitiblog-pager {
        &.flex {
            display: block;
        }
    }
}
