$color-default: #ffffff;
$color-dark: #000000;
$color-light: #ffffff;
$color-font: rgb(41, 41, 41);
$color-gray: #969696;

$color-primary: #FFBE00;

$header-height-l: 66px;
$header-height: 60px;
$header-height-m: 44px;

$font-lg: 24px;
$font: 16px;
$font-md: 14px;

$space: 15px;
$space-m: 10px;
$space-l: 20px;

$max-width: 1024px;
$max-width-md: 812px;
