$color-default: #ffffff;
$color-dark: #000000;
$color-light: #ffffff;
$color-font: rgb(41, 41, 41);
$color-gray: #969696;

$color-primary: #FFBE00;

$header-height-l: 80px;
$header-height: 72px;
$header-height-m: 56px;

$font-lg: 28px;
$font: 20px;
$font-md: 18px;

$space: 15px;
$space-s: 5px;
$space-m: 10px;
$space-l: 20px;

$max-width: 1024px;
$max-width-md: 812px;
