$color-default: #f9f9f7;
$color-dark: #333333;
$color-light: #ffffff;
$color-font: #4f4f4f;
$color-gray: #969696;

$color-primary: #FFBE00;

$font-lg: 20px;
$font: 16px;
$font-md: 14px;

$space: 15px;
$space-m: 10px;
$space-l: 20px;

$max-width: 1024px;
$max-width-md: 812px;
