<div class="flex">
    <ul class="flex-1">
        <li><a href="https://github.com/yitimo" class="link">GitHub</a></li>
        <li><a href="https://www.jianshu.com/u/0b9eef2456ec" class="link">简书</a></li>
        <li><a href="https://segmentfault.com/u/yitimo" class="link">SegmentFault</a></li>
        <li><a href="https://www.cnblogs.com/yitim/" class="link">博客园</a></li>
    </ul>
</div>
<p class="title disable-select">
    <a href="http://www.beian.miit.gov.cn" class="recordation" target="_blank">浙ICP备17012995号-1</a>
    yitimo的个人博客@2019
</p>
