<div class="home-foot flex" style="overflow-x: auto;">
    <div class="flex-1">
        yitimo的其他站点: <br /><br />
        <a target="blank" href="https://github.com/yitimo">GitHub</a>
        <a target="blank" href="https://www.yitimo.com">个人网站</a>
    </div>
    <div class="flex-1">
        站点同时部署在以下地址: <br /><br />
        <a href="https://blog.yitimo.com">blog.yitimo.com</a>
        <a href="https://yitiblog.netlify.com">yitiblog.netlify.com</a>
        <a href="https://yitimo.github.io">yitimo.github.io</a>
    </div>
    <div class="flex-1">
        联系我: <br /><br />
        <a href="javascript:void(0)">admin@yitimo.com</a>
        <a href="javascript:void(0)">yitimohu@gmail.com</a>
    </div>
</div>