<div class="nav">
    <a class="nav-avatar" href="#">
        <img src="/assets/images/yitimo.jpg" alt="nav-avatar of yitimo" />
        <div>
            Yitimo's Blog
        </div>
    </a>
    <div class="nav-body">
        <a class="nav-body-block" href="https://github.com/yitimo" target="_blank">
            <img src="/assets/images/GitHub.svg" alt="Github" title="Github" />
        </a>
    </div>
    <div class="nav-foot">
        <div class="nav-foot-block">
            <div class="nav-foot-block-title">联系我:</div>
            <a href="mailto:admin@yitimo.com">个人邮箱</a><a href="mailto:yitimohu@gmail.com">Gmail</a>
        </div>
        <div class="nav-foot-block">
            <div class="nav-foot-block-title">此博客同时部署在:</div>
            <a href="https://yitiblog.netlify.com/" target="_blank">Netlify</a><a href="https://yitimo.github.io/" target="_blank">Github Page</a>
        </div>
    </div>
</div>