{% for post in site.posts %}
    <a class="post-block {{post.categories}} flex" href="{{ post.url }}">
        <div class="post-block-info flex-1">
            <p>{{ post.title }}</p>
            <p>
                {% for tag in post.tags %}
                    <span class="keyword">{{ tag }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="post-block-time">
            <p class="date">{{ post.date | date:'%d' }} {{ post.date | date:'%b' }}</p>
            <p class="month">{{ post.date | date:'%Y' }}</p>
        </div>
    </a>
{% endfor %}
