.nav {
    width: 400px;
    background: #cd5c5c;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#nav-publish-popup, #nav-concact-popup {
    position: absolute;
    width: 120px;
    height: auto;
    background: #de6d6d;
    z-index: 1;
}

#nav-publish-popup a, #nav-concact-popup a {
    padding: 15px;
    color: #E4E7EC;
    transition: 0.2s;
    cursor: pointer;
    display: block;
    font-size: 15px;
}

@media screen and (min-width: 1200px) {
    .nav-body {
        padding-right: 16px;
        flex: 1;
    }
    .nav-body-block {
        padding: 12px;
        display: inline-block;
        border-radius: 4px;
        transition: 0.2s;
        text-align: center;
        margin: 16px 0 0 16px;
    }
    .nav-body-block img {
        height: 70px;width: 70px;
    }
    .nav-body-block:hover {
        background: #de6d6d;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .nav {
        width: 300px;
    }
    .nav-body {
        padding-right: 16px;
        flex: 1;
    }
    .nav-body-block {
        display: inline-block;
        border-radius: 4px;
        transition: 0.2s;
        text-align: center;
        padding: 8px;
        margin: 8px 0 0 8px;
    }
    .nav-body-block img {
        width: 50px;
        height: 50px;
    }
    .nav-body-block:hover {
        background: #de6d6d;
    }
    
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .nav {
        width: 200px;
    }
    .nav-body {
        padding-right: 16px;
        flex: 1;
    }
    .nav-body-block {
        padding: 8px;
        display: inline-block;
        border-radius: 4px;
        transition: 0.2s;
        text-align: center;
        margin: 16px 0 0 16px;
    }
    .nav-body-block img {
        height: 40px;width: 40px;
    }
    .nav-body-block:hover {
        background: #de6d6d;
    }
    
}

@media screen and (max-width: 767px) {
    .nav {
        background: #cd5c5c;
        padding-top: 50px;
        display: block;
        width: 100%;
        height: auto;
    }
    
    .nav-body-block {
        width: 25%;
        padding: 8px;
        display: inline-block;
        transition: 0.2s;
        text-align: center;
    }
    .nav-body-block img {
        width: 32px;
        height: 32px;
    }
    .nav-body-block:active {
        background: #de6d6d;
    }
    .nav-foot {
        display: none;
    }
}