
.nav-foot > * {
    padding: 15px;
    color: #E4E7EC;
    transition: 0.2s;
    cursor: pointer;
    display: block;
    font-size: 15px;
}
.nav-foot > *:hover {
    color: #FFFFFF;
    background: #de6d6d;
}
.nav-foot > * > .icon {
    width: 24px;
    height: 24px;
    float: right;
    display: block;
}

#nav-publish-popup, #nav-concact-popup {
    position: absolute;
    width: 120px;
    height: auto;
    background: #de6d6d;
    z-index: 1;
}

#nav-publish-popup a, #nav-concact-popup a {
    padding: 15px;
    color: #E4E7EC;
    transition: 0.2s;
    cursor: pointer;
    display: block;
    font-size: 15px;
}

@media screen and (min-width: 1200px) {
    .nav {
        width: 400px;
        background: #cd5c5c;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        height: 100%;
        overflow: hidden;
    }
    .nav-body {
        padding-right: 16px;
        flex: 1;
    }
    .nav-body-block {
        padding: 12px;
        display: inline-block;
        border-radius: 4px;
        transition: 0.2s;
        text-align: center;
        margin: 16px 0 0 16px;
    }
    .nav-body-block img {
        height: 70px;width: 70px;
    }
    .nav-body-block:hover {
        background: #de6d6d;
    }
    .nav-foot-block {
        text-align: center;
    }
    .nav-foot-block-title {
        opacity: 0.7;
        text-align: left;
        padding: 24px 16px 16px 16px;
    }
    .nav-foot-block a {
        width: 200px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        color: #fafafa;
        transition: 0.2s;
        display: inline-block;
    }
    .nav-foot-block a:hover {
        color: #ffffff;
        background: #de6d6d;
    }
    .nav-avatar {
        transition: 0.2s;
        height: auto;
        padding: 16px;
        text-align: center;
        background: #cd5c5c;
        width: 100%;
    }
    .nav-avatar img {
        height: 50px;
        width: 50px;
        border-radius: 100px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .nav {
        width: 300px;
        background: #cd5c5c;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        height: 100%;
        overflow: hidden;
    }
    .nav-body {
        padding-right: 16px;
        flex: 1;
    }
    .nav-body-block {
        display: inline-block;
        border-radius: 4px;
        transition: 0.2s;
        text-align: center;
        padding: 8px;
        margin: 8px 0 0 8px;
    }
    .nav-body-block img {
        width: 50px;
        height: 50px;
    }
    .nav-body-block:hover {
        background: #de6d6d;
    }
    .nav-avatar {
        transition: 0.2s;
        height: 120px;
        padding: 16px;
        text-align: center;
        background: #cd5c5c;
        width: 100%;
    }
    .nav-avatar:hover {
        background: #de6d6d;
    }
    .nav-avatar img {
        height: 50px;
        width: 50px;
        border-radius: 100px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
    .nav {
        width: 200px;
        background: #cd5c5c;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        height: 100%;
        overflow: hidden;
    }
    .nav-body {
        padding-right: 16px;
        flex: 1;
    }
    .nav-body-block {
        padding: 8px;
        display: inline-block;
        border-radius: 4px;
        transition: 0.2s;
        text-align: center;
        margin: 16px 0 0 16px;
    }
    .nav-body-block img {
        height: 40px;width: 40px;
    }
    .nav-body-block:hover {
        background: #de6d6d;
    }
    .nav-avatar {
        transition: 0.2s;
        height: 120px;
        padding: 16px;
        text-align: center;
        background: #cd5c5c;
        width: 100%;
    }
    .nav-avatar:hover {
        background: #de6d6d;
    }
    .nav-avatar img {
        height: 50px;
        width: 50px;
        border-radius: 100px;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        background: #cd5c5c;
        padding-top: 50px;
    }
    .nav-avatar {
        transition: 0.2s;
        text-align: center;
        position: fixed;
        top: 0;left: 0;
        width: 100%;
        height: 50px;
        z-index: 10;
        line-height: 50px;
        background: #cd5c5c;
    }
    .nav-avatar:active {
        background: #de6d6d;
    }
    .nav-avatar img {
        width: 32px;
        height: 32px;
        border-radius: 100px;
        background: none;
        margin-bottom: -8px;
    }
    .nav-avatar div {
        display: inline;
    }
    .nav-body-block {
        width: 25%;
        padding: 8px;
        display: inline-block;
        transition: 0.2s;
        text-align: center;
    }
    .nav-body-block img {
        width: 32px;
        height: 32px;
    }
    .nav-body-block:active {
        background: #de6d6d;
    }
    .nav-foot {
        display: none;
    }
}