html, body, div, ul, li, label, p, hr {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    background: none;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    background-color: #ccc;
}
a {
    text-decoration: none;
    cursor: default;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:hover, a:active, a:checked {
    outline: none;
    text-decoration: none;
}
ul {
    list-style: none;
}
html, body {
    height: 100%;width: 100%;
}
* {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
*:focus {
    outline: none;
}
#background {
    position: fixed;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#background-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex-y {
    flex-flow: column;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
}
.flex-1 {
    flex: 1;
    position: relative;
}
.nav-left {
    width: 20%;
    max-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.posts {
    padding: 15px;
}
.posts li {
    transition: 0.2s;
    padding: 15px;
    color: #eeeeee;
    border-bottom: 1px solid rgba(222, 222, 222, 0.5);
}
.posts li:hover {
    background: rgba(222, 222, 222, 0.5);
    color: #ffffff;
    border-bottom: none;
    border-radius: 4px;
}