a {
    text-decoration: none;
    cursor: default;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:hover, a:active, a:checked {
    outline: none;
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    .home-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    .home-nav {
        background: #cd5c5c;
    }
    .home-content {
        flex: 1;
        background: #f6f6f6;
    }
    .avatar {
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: 50px;
    }
    .avatar img {
        width: 50px;
        height: 50px;
        background: none;
    }
    .avatar div {
        padding: 15px;
        flex: 1;
    }
}

@media screen and (min-width: 768px) {
    .home-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: 100%;
    }
    .home-nav {
        width: 20%;
        min-width: 200px;
        background: #cd5c5c;
    }
    .home-content {
        flex: 1;
        background: #f6f6f6;
    }
    .avatar {
        margin: 0 auto;
        padding: 30px 0;
        text-align: center;
        background: #de6d6d;
    }
    .avatar img {
        height: 50px;
        width: 50px;
        border-radius: 100px;
    }
}

