---
---

@import './variable.scss';
@import './global.scss';
@import './article.scss';

.yitiblog {
    margin: 0 auto;

    .block {
        width: 100%;
        position: relative;
        max-width: $max-width;
        margin:  0 auto;
        min-height: 100%;
    }
}
.yitiblog-header {
    height: 60px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background: $color-font;
    color: $color-default;
    
    .flex {
        align-items: center;
    }
    .avatar {
        height: 40px;
        width: 40px;
        border-radius: 56px;
        margin: 0 $space;
        cursor: default;
    }
}
.yitiblog-content {
    padding-top: 60px;
}

.yitiblog-footer {
    padding: $space-l*2 0;
    background: $color-font;
    color: $color-gray;

    .title {
        text-align: center;
    }
    .flex {
        margin-bottom: $space-l;
    }
    ul {
        list-style: none;
        .link {
            display: block;
            padding: $space-m / 2 $space;
            margin: $space-m / 2 0;
        }
    }
    .recordation {
        margin-right: $space-l;
    }
    a {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: $color-default;
        }
    }
}

.post-block {
    padding: $space;
    margin: 0 $space;
    transition: 0.3s;
    border-left: 3px solid transparent;
    align-items: center;

    &:hover {
        background: $color-light;
        border-left: 3px solid $color-primary;
    }
    &:first-of-type {
        margin-top: $space;
    }
    &:not(:first-of-type) {
        border-top: 1px solid #f3f3f3;
    }
    &-desc {
        margin-top: $space;
        color: $color-gray;
    }

    &-time {
        color: $color-gray;
        text-align: center;
        .date {
            font-weight: 600;
        }
    }
    p:not(:first-of-type) {
        margin-top: $space-m;

        &.month {
            margin-top: 0;
        }
    }
    .keyword {
        color: $color-primary;
    }
}

.yitiblog-pager {
    padding: $space-l $space;
    color: $color-font;
    text-align: center;

    .block {
        width: auto;
        max-width: 300px;
        white-space: nowrap;
        margin: 10px auto;
        cursor: pointer;
        display: block;
        transition: 0.2s;

        &:hover {
            color: $color-primary;
        }

        img {
            height: 24px;
            width: 24px;
            vertical-align: middle;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

// @media (min-width: 1281px) {
//     .yitiblog-pager {
//         .prev {
//             float: left;
//         }
//         .next {
//             float: right;
//         }   
//     }
// }
@media (max-width: 1280px) {
    .yitiblog {
        .block {
            max-width: $max-width-md;
        }
    }
    .yitiblog-header {
        height: 40px;

        .avatar {
            height: 32px;
            width: 32px;
            margin: 0 $space;
        }
    }
}

@media (max-width: 812px) {
    .yitiblog-footer {
        .flex {
            display: block;
            text-align: center;
        }
    }
    .yitiblog-pager.flex {
        display: block;
    }
}
