<!DOCTYPE html>
<html>
<head>
    <title>{{page.title}} | {{site.description}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    {% include seo.html %}
</head>
<body class="yitiblog">
    <h1 style="display: none;">{{ site.title }} | {{site.description}}</h1>
    <header class="yitiblog-header">
        <div class="block flex">
            {% include header.html %}
        </div>
    </header>
    <section class="yitiblog-content block article">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </section>
    <section class="yitiblog-pager block flex">
        {% if page.previous %}
            <a class="block prev" href="{{page.previous.url}}">
                <img class="prev" src="/assets/images/prev.svg" alt="prev post" />
                {{ page.previous.title }}
            </a>
        {% endif %}
        <div class="flex-1"></div>
        {% if page.next %}
            <a class="block next" href="{{page.next.url}}">
                {{ page.next.title }}
                <img class="next" src="/assets/images/next.svg" alt="next post" />
            </a>
        {% endif %}
    </section>
    <footer class="yitiblog-footer">
        <div class="block font-m">
            {% include footer.html %}
        </div>
    </footer>
    {% include analysis.html %}
    <script defer type="module" src="https://cdn.bootcss.com/react/16.13.1/umd/react.production.min.js"></script>
    <script defer type="module" src="https://cdn.bootcss.com/react-dom/16.13.1/umd/react-dom.production.min.js"></script>
</body>
</html>
