<!DOCTYPE html>
<html>
<head>
    <title>{{site.title}} | {{site.description}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css" />
    {% include seo.html %}
</head>
<body>
    <h1 style="display: none;">{{ site.title }} | {{site.description}}</h1>
    <div class="home-body">
        <div class="home-nav">
            <div class="avatar">
                <img src="/assets/images/yitimo.jpg" alt="avatar of yitimo" />
                <div>
                    Yitimo's Blog
                </div>
            </div>
        </div>
        <div class="home-content">
            {{content}} 
        </div>
    </div>
    {% include foot.html %}
    <script src="/assets/js/init.js"></script>
</body>
</html>
