<!DOCTYPE html>
<html>
<head>
    <title>{{site.title}} | {{site.description}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
    <script src="/assets/theme.js"></script>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/iconfont.css">
    {% include seo.html %}
</head>
<body class="yitiblog theme-dark">
    <h1 style="display: none;">{{ site.title }} | {{site.description}}</h1>
    {% include header.html %}
    <section class="yitiblog-content block">
        {{content}}
    </section>
    <footer class="yitiblog-footer">
        <div class="block font-m">
            {% include footer.html %}
        </div>
    </footer>
    {% include analysis.html %}
</body>
</html>
