<!DOCTYPE html>
<html>
<head>
    <title>{{page.title}} | {{site.description}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" />
    {% include seo.html %}
</head>
<body class="yitiblog">
    <h1 style="display: none;">{{ site.title }} | {{site.description}}</h1>
    <header class="yitiblog-header">
        <div class="block flex">
            {% include header.html %}
        </div>
    </header>
    <section class="yitiblog-content block article">
        <h1>{{ page.title }}</h1>
        <p class="time"><i>修改于: {{ page.date | date: '%Y-%m-%d %H:%M' }}</i></p>
        {% capture monago18_unix %}{{'now' | date: '%s' | minus: 47304000}}{% endcapture %}
        {% capture posttime %}{{page.date | date: '%s'}}{% endcapture %}
        {% if monago18_unix>=posttime %}
            <p class="outdated">此文章久未修订，请自行甄别内容准确性。</p>
        {% endif %}
        {{ content }}
    </section>
    <section class="yitiblog-pager block flex">
        {% if page.previous %}
            <a class="block prev" href="{{page.previous.url}}">
                <img class="prev" src="/assets/images/prev.svg" alt="prev post" />
                {{ page.previous.title }}
            </a>
        {% endif %}
        <div class="flex-1"></div>
        {% if page.next %}
            <a class="block next" href="{{page.next.url}}">
                {{ page.next.title }}
                <img class="next" src="/assets/images/next.svg" alt="next post" />
            </a>
        {% endif %}
    </section>
    <section class="yitiblog-comment block">
        <script
            src="https://utteranc.es/client.js"
            repo="yitimo/yitimo.github.io"
            issue-term="pathname"
            label="comment"
            theme="github-light"
            crossorigin="anonymous"
            async
        ></script>
    </section>
    <footer class="yitiblog-footer">
        <div class="block font-m">
            {% include footer.html %}
        </div>
    </footer>
    {% include analysis.html %}
</body>
</html>
